<%- include ('partials/header.ejs'); %>
    <style>
        button {
            all: unset;
        }

        .logo-happy-pet svg {
            width: 20vw;
            height: 8vh;
            fill: #fff;
        }

        .back-button {
            margin-top: -2vw;
        }

        select{
            all: unset;
            background-color: #fff;
            color: #000;
            width: 6vw;
            height: 4vh;
            text-align: center;
            border-radius: 0.3vw;
        }

        input{
            border: 0;
        }
    </style>

    <body>
        <div class="form bg-secondary p-5 text-white w-100 d-flex flex-column align-items-center justify-content-center">
            <div class="back-button d-flex justify-content-start w-100">
                <a href="/home" class="text-white pb-3 fs-4"><i class="fa-solid fa-arrow-left"></i></a>
            </div>
            <div class="logo-happy-pet">
                <%- include ('partials/logo.ejs') %>
            </div>
        <h1>CADASTRAR ATENDIMENTO</h1>
        <div class="form-atendimento">
            <form action="/atendimento" method="post">
                <label for="tipoAtendimento">Tipo de atendimento</label>
            </br>
                <select name="tipoAtendimento" id="tipoAtend" class="w-100">
                    <% for (let tipo of tipos) { %>
                        <option value="<%= tipo.tipo %>"><%= tipo.tipo %></option>    
                    <% } %>
                </select>
                </br>
                <label for="responsavel" class="mt-3">Funcionário</label>
            </br>
                <% if (responsavelPesquisado) {%>
                    <input list="responsavelAtend" name="responsavelInput" value="<%= responsavelPesquisado %>">
                    <% } else { %>
                        <input list="responsavelAtend" name="responsavelInput" class="rounded-1">
                        <% } %>
                            <datalist id="responsavelAtend">
                                <% if (responsaveis.length> 0) {%>
                                    <% for (let responsavel of responsaveis) {%>
                                        <option value="<%= responsavel.nome %>">
                                            <%= responsavel.id %> | <%= responsavel.nome %>
                                        </option>
                                        <% } %>
                                            <% } %>
                            </datalist>
                            <select name="responsavel" class="<%= erro && erro.path[0]===" responsavel"
                                ? 'border border-danger' : '' %> ">
                                <% if (responsaveis.length> 0) {%>
                                    <% for (let responsavel of responsaveis) {%>
                                        <option value="<%= responsavel.id %>">
                                            <%= responsavel.id %> | <%= responsavel.nome %>
                                        </option>
                                        <% } %>
                                            <% } %>
                            </select>
                            </br>
                            <label for="pet">Pet</label>
                        </br>
                            <% if (petPesquisado) {%>
                                <input list="petAtend" name="petInput" value="<%= petPesquisado %>">
                                <% } else { %>
                                    <input list="petAtend" name="petInput" class="rounded-1">
                                    <% } %>
                                        <datalist id="petAtend">
                                            <% if (pets.length> 0) {%>
                                                <% for (let pet of pets) {%>
                                                    <option value="<%= pet.nome %>">
                                                        <%= pet.nome %> | <%= pet.tutor %>
                                                    </option>
                                                    <% } %>
                                                        <% } %>
                                        </datalist>
                                        <select name="pet" class="<%= erro && erro.path[0]===" pet"
                                            ? 'border border-danger' : '' %> ">
                                            <% if (pets.length> 0) {%>
                                                <% for (let pet of pets) {%>
                                                    <option value="<%= pet.id %>">
                                                        <%= pet.nome %> | <%= pet.tutor %>
                                                    </option>
                                                    <% } %>
                                                        <% } %>
                                        </select>
                                        <br>
                                        <input type="submit" name="pesquisar" value="Pesquisar pet ou responsavel" class="btn btn-outline-light w-100 mt-2" />
                                        </br>
                                        <label for="descricao" class="mt-3">Descrição</label>
                                        </br>
                                        <textarea name="descricao" id="descricaoAtend" cols="30" rows="10"
                                            class="w-100 rounded-1 <%= erro && erro.path[0]==="descricao" ? 'border border-danger' : ''
                                            %> "></textarea>
                                        </br>
                                        <label for="date">Data</label>
                                        <input type="datetime-local" name="date" id="dataAtend"
                                            class="w-100 rounded-1 <%= erro && erro.path[0]==="date" ? 'border border-danger' : '' %>
                                        ">
                                        </br>
                                        <div class="button-send d-flex justify-content-center mt-4">
                                            <button type="submit" class="btn btn-outline-light w-100">Enviar</button>
                                        </div>
            </form>
        </div>
    </div>
    </body>
    <%- include ('partials/footer.ejs'); %>